# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/seracid

# Nodemailer (Gmail)
MAIL_USER=kalsulks5@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_TO=Kaleessultan415@gmail.com

# Server
PORT=5000
NODE_ENV=production

# Frontend URL (for CORS)
CLIENT_URL=https://seracid.vercel.app
